::placeholder {
	color: #0a3871;
}
body {
  height: auto;
  min-height: 86vh;
  background: #f3f5fc;
  background: linear-gradient(#f3f5fc, #bcaecf);
  font-family: 'Inter';
  justify-content: center;
  padding: 5px;
}
 
.alerta {
  margin-bottom: 10px;
  font-size: 12px;
}

.logo_alura:hover{
  background-image: #eeeeef;
}

.principal {
  width: 90%;
  height: auto;
  display: flex;
  min-height: 90vh;
  margin-top: 30px;
  margin-bottom: 30px;
}

.principal-izquierdo {
  width: 15%;
}

.principal-centro {
  width: 55%;
  display: flex;
  align-items: stretch;
  padding: 50px 50px 10px 50px;
}
.principal-centroFE {
  display: flex;
  flex-direction: row;
}
.principal-centroF {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
.principal-derecho {
  width: 30%;
  height: auto;
  min-height: 25%;
  background: #ffffff;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.principal-form {
  width: 100%;
  height: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.principal-form2 {
  width: 90%;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#img-busqueda {
  height: 200px;
  width: 200px;
}

.encriptacion {
  width: 45%;
  min-height: 40px;
  background: #0a3871;
  border-radius: 25px;
  border:#579cf0;
  color: #f3f5fc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  position: static;
  left: 0px;
  top: 0px;
}
.encriptacion:hover{
  background-color: #7ba4ee;
  color: #131516;
}

.desencriptacion, #bot_copiar{
  width: 45%;
  min-height: 40px;
  left: 352px;
  top: 0px;
  font-size: 20px;
  background: #d8dfe8;
  border: 1px solid #0a3871;  
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
#bot_copiar {
  width: 96%;
}
#bot_copiar:hover {
  background-color: #709acc;
}

.desencriptacion:hover{
  background-color: #4545ff;
  color: #eeeeef;
}

.botones-centrales {
	display: flex;
	justify-content: space-between;
}

#mensaje-original {
	width: 90%;
	height: 100%;
	resize: none;
	margin-top: 50px;
	border: none;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: left;
	color: #0a3871;
	background: transparent;
	word-wrap: break-word;
}

#mensaje-original:focus {
	outline: 0;
}

#mensaje-encriptado {
	width: 95%;
	height: auto;
  min-height: 80%;
	word-wrap: break-word;
	margin-top: 40px;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 30px;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: left;
	color: #0a3871;
}

.img_buqueda {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	align-items: center;
	width: 80%;
}

.msj_encr {
	display: none;
}
.msj_encr2 {
	display: none;
}

#exclamacion {
	height: 10px;
	width: 10px;
}

#sin_mensaje {
	color: #343a40;
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
}

#ingresar {
	margin-top: 10px;
	font-size: 14px;
	line-height: 20px;
}

.footer-containter{
  color: #0a3871;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* ----------------------------- Media ------------------------------------------------- */

@media screen and (max-width: 913px) {
	body {
		min-height: 100vh;
	}

	.principal {
		display: flex;
		flex-direction: column;
		width: 90%;
	}
	.principal-izquierdo {
	  margin-top: 20px;
	}
	.principal-centro {
		width: 98%;
		padding: 10px 10px 10px 10px;
		justify-content: center;
	}

	.botones-centrales {
		display: flex;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
	}

	.encriptacion,
	.desencriptacion {
		width: 48%;
		min-height: 60px;
	}

	#bot_copiar {
		min-height: 60px;
    margin-top: 30px;
    width: 115px;
	}

	#mensaje-original {
		height: 60vh;
		font-size: 30px;
	}

	#img-busqueda {
		display: none;
	}

	.principal-derecho {
		width: 100%;
		min-height: 5%;
		padding: 0px;
		margin-top: 15px;
		height: auto;
	}

	.principal-form {
		display: flex;
		flex-direction: column;
		width: 95%;
		min-height: 20%;
		justify-content: space-between;
		padding-top: 10%;
		padding-bottom: 10%;
		height: auto;
	}

	.principal-form2 {
		display: flex;
		flex-direction: column;
		width: 95%;
		min-height: 2%;
		justify-content: space-between;
		align-items: center;
		padding-top: 10px;
		padding-bottom: 0px;
		height: auto;
	}

	#mensaje-encriptado {
		width: 95%;
		min-height: 20%;
		padding-bottom: 0px;
		margin: 0px;
		height: auto;
		margin-top: 5px;
	}
	#sin_mensaje {
		color: #343a40;
		font-size: 25px;
		font-weight: bold;
		line-height: 30px;
	}

	#ingresar {
		margin-top: 15px;
		font-size: 20px;
		line-height: 30px;
	}
}

@media screen and (max-width: 480px) {
	.principal {
		display: flex;
		flex-direction: column;
		width: 90%;
		margin-top: 5px;
	}
	.principal-izquierdo {
		margin-left: -50px;
	}
	.principal-centro {
		width: 100%;
		padding: 0;
	}

	.principal-derecho {
		width: 100%;
		margin-bottom: 0px;
	}

	.botones-centrales {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.encriptacion,
	.desencriptacion {
		width: 100%;
		height: 50px;
	}

	.desencriptacion {
		margin-top: 20px;
	}

	#accion-3 {
    height: 50px;
    width: 115px;
	}

	#mensaje-original {
		height: 33vh;
		width: 100%;
		font-size: 23px;
	}

	#mensaje-encriptado {
		height: auto;
		margin-top: 5px;
	}

	#img-busqueda {
		display: none;
	}

	#sin_mensaje {
		color: #343a40;
		font-size: 25px;
		font-weight: bold;
		line-height: 30px;
	}

	#ingresar {
		margin-top: 15px;
		font-size: 20px;
		line-height: 30px;
	}
}
 
